<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SrouceDome.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>761C8E5C1E7FA5F40063DEEF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>761C8E751E7FA5F40063DEEF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>761C8E801E7FA5F40063DEEF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
